define host{
        use                     openshift-cluster-template            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               taylorlabs-ocp
        alias                   taylorlabs-ocp
        address                 173.30.0.1
        }

define hostgroup{
        hostgroup_name  openshift-cluster ; The name of the hostgroup
        alias           Openshift Cluster ; Long name of the group
        members         taylorlabs-ocp     ; Comma separated list of hosts that belong to this group
        }


define service{
        use                             generic-service,graphed-service         ; Name of service template to use
        host_name                       taylorlabs-ocp
        service_description             Pod Count for all Namespaces
	check_command			check_openshift_pod_count_all_namespaces
        }
define service{
        use                             generic-service,graphed-service         ; Name of service template to use
        host_name                       taylorlabs-ocp
        service_description             Pod Count for the Nagios Namespace
	check_command			check_openshift_pod_count_nagios_namespace
        }
define service{
        use                             generic-service,graphed-service         ; Name of service template to use
        host_name                       taylorlabs-ocp
        service_description             Pod Count using app equals ansible-tower selector
	check_command			check_openshift_pod_count_ansible_tower
        }
define service{
        use                             generic-service,graphed-service         ; Name of service template to use
        host_name                       taylorlabs-ocp
        service_description             Pods and Status Count
	check_command			check_openshift_pod_status_count
        }

define service{
        use                             generic-service,graphed-service         ; Name of service template to use
        host_name                       taylorlabs-ocp
        service_description             Elastic Search Stats
	check_command			check_openshift_elasticsearch_stats
        }

define service{
        use                             generic-service,graphed-service         ; Name of service template to use
        host_name                       taylorlabs-ocp
        service_description             Node Resources
	check_command			check_openshift_node_resources
        }

define service{
        use                             generic-service,graphed-service         ; Name of service template to use
        host_name                       taylorlabs-ocp
        service_description             PV Claim Phases
	check_command			check_openshift_pvc_phase
        }

#define service{
#        use                             generic-service,graphed-service         ; Name of service template to use
#        host_name                       taylorlabs-ocp
#        service_description             Current Users
#	check_command			check_local_users!20!50
#        }
#
#
## Define a service to check the number of currently running procs
## on the local machine.  Warning if > 250 processes, critical if
## > 400 users.
#
#define service{
#        use                             generic-service,graphed-service         ; Name of service template to use
#        host_name                       taylorlabs-ocp
#        service_description             Total Processes
#	check_command			check_local_procs!250!400!RSZDT
#        }
#
#
#
## Define a service to check the load on the local machine. 
#
#define service{
#        use                             generic-service,graphed-service         ; Name of service template to use
#        host_name                       taylorlabs-ocp
#        service_description             Current Load
#	check_command			check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
#        }
#
#
#
## Define a service to check the swap usage the local machine. 
## Critical if less than 10% of swap is free, warning if less than 20% is free
#
#define service{
#        use                             generic-service,graphed-service         ; Name of service template to use
#        host_name                       taylorlabs-ocp
#        service_description             Swap Usage
#	check_command			check_local_swap!20!10
#        }
#
#
#
## Define a service to check HTTP on the local machine.
## Disable notifications for this service by default, as not all users may have HTTP enabled.
#
#define service{
#        use                             generic-service,graphed-service         ; Name of service template to use
#        host_name                       taylorlabs-ocp
#        service_description             HTTP
#	check_command			check_http
#	notifications_enabled		0
#        }
#
